@import url(./fonts.css);

/*Start navigation*/

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-link{
    font-family: "Times new Roman", cursive;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: #000000;
}

/*End navigation*/